{% extends "layout.html" %}
{% block title %}Search new API call{% endblock %}
{% block body %}
  <h2>Submit API Call</h2>
  <form action="" method=post>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <p>API Call:
      <input type=text name=api-call value="{{ api_call }}" class=urlinput>
      <input type=submit value="search">
  </form>
  {% if redis %}
  	<p>Value retrieved from REDIS</p>
  {% endif %}
  {% if resp %}
  	<div>
  		<h1>Response:</h1>
  		{{ resp }}
  	</div>
  {% endif %}
{% endblock %}